.game-window {
  position: relative;
  width: 80%;
  height: 200px;
  margin: auto; 
}

.game-title {
  text-align: center;
}

.chromium-dino {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  bottom: 0px;
}

.chromium-dino-jump {
  animation: character-jump 1.5s;
}

.obstacle-small {
  position: absolute;
  width: 25px;
  height: 80px;
  background-color: green;
  bottom: 0px;
  animation: ground-obstacle 3s infinite;
  animation-timing-function: linear;
}

.obstacle-medium {
  position: absolute;
  animation-timing-function: linear;
}

.obstacle-big {
  position: absolute;
}

@keyframes ground-obstacle {
  from {
    right: 0%;
  }
  to {
    right: 100%;
  }
}

@keyframes character-jump {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 0px
  }
}